body,
html {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  background-color: #ebe8e8;
}
#app .music_icon {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: .8rem;
  height: .8rem;
  background: url(../img/qqq.svg);
  background-size: contain;
  animation: move123 1s linear infinite;
  animation-play-state: paused;
}
#app .first_page {
  background: url(../img/donghua.gif);
  width: 100%;
  height: 100%;
  position: relative;
}
#app .first_page .header {
  animation: pulse 1s linear;
  box-sizing: border-box;
  padding: 1rem;
  position: absolute;
  top: 20%;
  left: 0;
  background: url(../img/quan.webp) no-repeat;
  background-size: cover;
  width: 100%;
  height: 6rem;
}
#app .first_page .header p {
  animation: zoomIn 1s linear;
  line-height: 1.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}
#app .first_page .name {
  animation: fadeInDown 1s linear;
  position: absolute;
  left: 0;
  bottom: 14%;
  width: 100%;
  height: 2rem;
  line-height: .6rem;
  font-size: .3rem;
  text-align: center;
  background: #313131;
  color: #fff;
}
#app .first_page .name p {
  animation: zoomIn 1s linear;
}
#app .first_page .maxim {
  animation: move123 1s linear;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10%;
  font-size: .26rem;
  font-weight: 600;
  text-align: center;
}
#app .first_page .foot {
  animation: fadeInLeft 1s linear;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background: url(../img/yan.webp) no-repeat;
}
#app .two_page {
  background: url(../img/donghua.gif);
}
#app .two_page .header {
  height: 1.4rem;
  margin: 0 auto;
  margin-top: 1.2rem;
  background: url(../img/changtiao.webp) no-repeat;
  background-size: 100%;
}
#app .two_page .header p {
  line-height: 1rem;
  text-align: center;
  font-size: .4rem;
  font-weight: 700;
}
#app .two_page .box_top {
  margin: .8rem auto;
  padding: .16rem;
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid #000;
}
#app .two_page img {
  position: absolute;
  left: 2.1rem;
  top: 3.6rem;
  border: 1px solid #000;
  width: 3.2rem;
  height: 3.2rem;
}
#app .two_page .box {
  margin: .4rem auto;
  width: 6rem;
}
#app .two_page .box .bod {
  padding-left: .4rem;
  height: 4rem;
  border-left: 1px solid #000;
}
#app .two_page .box .bod p {
  text-align: left;
  font-size: .3rem;
  font-weight: 700;
}
#app .two_page .box .bod p .left {
  width: 40%;
  float: left;
}
#app .two_page .box .bod p .right {
  width: 60%;
  float: right;
}
#app .two_page .box_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background: #000;
}
#app .three_page .header {
  height: 1.4rem;
  margin: 0 auto;
  margin-top: 1rem;
  background: url(../img/changtiao.webp) no-repeat;
  background-size: 100%;
}
#app .three_page .header p {
  line-height: 1rem;
  text-align: center;
  font-size: .4rem;
  font-weight: 700;
}
#app .three_page .content_top {
  padding: .4rem;
  margin-top: .6rem;
  line-height: .7rem;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  border-bottom: 1px solid #000;
}
#app .three_page .content_top h2 {
  font-size: .4rem;
}
#app .three_page .content_top h3 {
  font-size: .36rem;
}
#app .three_page .content_top p::before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000;
  width: .1rem;
  height: .1rem;
}
#app .three_page .content {
  padding: .4rem;
  margin-top: .6rem;
  line-height: .7rem;
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
#app .three_page .content h2 {
  font-size: .4rem;
}
#app .three_page .content h3 {
  font-size: .36rem;
}
#app .three_page .content p::before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000;
  width: .1rem;
  height: .1rem;
}
@keyframes move123 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
